<!DOCTYPE html>
<html>
<head>
    <title>Daftar User</title>
    <link rel="stylesheet" type="text/css" href="/../css/bootstrap.min.css">
    <script type="text/javascript" src="/../js/bootstrap.min.js"></script>

</head>	
<body>
    <div class="container">
        <div class="jumbotron">
  <h1>Hi, User!</h1>
  <p><a class="btn btn-primary btn-lg" role="button" href="user/tambah">+ Add </a></p>
</div>